.challenge-btn {
  font-size: .8em;
}

hr {
  background-color: lightblue;
}

.card {
  position: relative;
}

.gold, .GOLD {
  color: #D4AF37;
}

.silver, .SILVER {
  color: #cacaca;
}

.bronze, .BRONZE {
  color: #cd7f32;
}

.prize-difficulty {
  position: absolute;
  top: -.3em;
  right: -.3em;
  font-size: 3em;
}
:host::ng-deep  .qr-wrapper {
  position: relative;
  height: inherit;
  img {
    height: 2em;
  }
}
