

.createLineButton{
    margin-left: 10px;
    margin-right: 10px;
    //background-color: rgba($color: #8447d49a, $alpha: 1.0);
}

.createLineButton :hover{
    background-color: rgba($color: #ce2b259a, $alpha: 1.0);
}
